<p>
    <strong>E-mail:</strong><br>
    <a href="mailto:{{ site.data.contact.email }}">
        {{ site.data.contact.email }}
    </a>
</p>

<p>
    <strong>Web:</strong><br>
    <a href="{{ site.data.contact.website }}">
        {{ site.data.contact.website }}
    </a>
</p>

<p>
    <strong>Adresa:</strong><br>
    {{ site.data.contact.address.street }}<br>
    {{ site.data.contact.address.zip }}
    {{ site.data.contact.address.city }}
</p>

<p>
    <strong>IČO:</strong><br>
    {{ site.data.contact.organization.ico }}
</p>

<p>
    <strong>Spisová značka:</strong><br>
    {{ site.data.contact.organization.registry }}
</p>
