<nav class="main-nav">

    <div class="container">

        <div class="brand">
            <a href="{{ '/' | relative_url }}">
                {{ site.data.site.organization.short_name }}
            </a>
        </div>

        <ul>

            {% for item in site.data.navigation %}

                {% if page.url == "/" %}

                    {% if item.home_url %}

                        <li>
                            <a href="{{ item.home_url }}">
                                {{ item.title }}
                            </a>
                        </li>

                    {% endif %}

                {% else %}

                    {% if item.page_url %}

                        <li>
                            <a href="{{ item.page_url | relative_url }}">
                                {{ item.title }}
                            </a>
                        </li>

                    {% endif %}

                {% endif %}

            {% endfor %}

        </ul>

    </div>

</nav>
