<nav class="main-nav">

    <div class="container">

        <div class="brand">
            <a href="{{ '/' | relative_url }}">
                {{ site.data.site.organization.short_name }}
            </a>
        </div>

        <ul>

            {% if page.url == "/" %}

                <li><a href="#about">O spolku</a></li>
                <li><a href="#activities">Činnost</a></li>
                <li><a href="#events">Akce</a></li>
                <li><a href="#projects">Projekty</a></li>
                <li><a href="#team">Lidé</a></li>
                <li><a href="#contact">Kontakt</a></li>
                <li><a href="#map">Mapa</a></li>

            {% else %}

                <li><a href="{{ '/' | relative_url }}">Domů</a></li>
                <li><a href="{{ '/spolek/' | relative_url }}">Spolek</a></li>
                <li><a href="{{ '/akce/' | relative_url }}">Akce</a></li>
                <li><a href="{{ '/projekty/' | relative_url }}">Projekty</a></li>
                <li><a href="{{ '/kontakt/' | relative_url }}">Kontakt</a></li>

            {% endif %}

        </ul>

    </div>

</nav>
