<nav class="main-nav">

    <div class="container">

        <div class="brand">
            <a href="{{ '/' | relative_url }}">
                {{ site.data.site.organization.short_name }}
            </a>
        </div>

        <ul>

            {% for item in site.data.navigation %}

                <li>

                    {% if page.url == "/" %}

                        <a href="{{ item.home_url }}">
                            {{ item.title }}
                        </a>

                    {% else %}

                        {% if item.page_url %}

                            <a href="{{ item.page_url | relative_url }}">
                                {{ item.title }}
                            </a>

                        {% endif %}

                    {% endif %}

                </li>

            {% endfor %}

        </ul>

    </div>

</nav>
