<section class="teaser">

    <div class="container">

        <div class="teaser-date">

            <time
                class="teaser-datetime blink"
                datetime="2026-09-16T17:00">

                <span class="teaser-date">
                    16. 9. 2026
                </span>

                <span class="teaser-time">
                    17–22 hodin
                </span>

            </time>

            <div class="teaser-countdown"></div>

        </div>

        <div class="teaser-title">

            Noc literatury v&nbsp;Trutnově

            <p class="teaser-link">

                <a href="{{ '/akce/noc-literatury-v-trutnove-2026/' | relative_url }}">

                    Zobrazit informace →

                </a>

            </p>

        </div>

    </div>

</section>
