---
layout: default
---

<section class="section">

    <div class="container">

        <h1>{{ page.title }}</h1>

        {% if page.permalink == "/akce/" %}
        
            {% assign events = site.events | sort: "date" | reverse %}
        
            {% for event in events %}

                {% include card-event.html event=event %}
        
            {% endfor %}
        
        {% elsif page.permalink == "/projekty/" %}
        
            {% assign projects = site.projects %}
        
            <div class="cards">
        
                {% for project in projects %}

                    {% include card-project.html
                        project=project
                        content=project.content | strip_html | truncate: 140
                    %}
        
                {% endfor %}
        
            </div>
        
        {% else %}

            <div class="page-content">

                {{ content }}

            </div>

        {% endif %}

    </div>

</section>
