---
layout: default
---

{% include navigation.html %}

<section class="section">

    <div class="container">

        <h1>{{ page.title }}</h1>

        {% if page.permalink == "/akce/" %}
        
            {% assign events = site.events | sort: "date" | reverse %}
        
            {% for event in events %}
        
                <article class="event-card">
        
                    <h3>
                        <a href="{{ event.url | relative_url }}">
                            {{ event.title }}
                        </a>
                    </h3>
        
                    <p>
                        {{ event.date | date: "%d.%m.%Y" }}
                    </p>
        
                </article>
        
            {% endfor %}
        
        {% elsif page.permalink == "/projekty/" %}
        
            {% assign projects = site.projects %}
        
            <div class="cards">
        
                {% for project in projects %}
        
                <div class="card">
        
                    <h3>
                        <a href="{{ project.url | relative_url }}">
                            {{ project.title }}
                        </a>
                    </h3>
        
                    {{ project.content | strip_html | truncate: 140 }}
        
                </div>
        
                {% endfor %}
        
            </div>
        
        {% else %}
        
            {{ content }}
        
        {% endif %}

    </div>

</section>
